<<<<<<< HEAD
doctype html
head
    meta(charset='utf-8')
    title Filter
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    
    // jQuery (necessary for Bootstrap's JavaScript plugins)
table#table_format.table.table-bordered.table-striped.table-hover.table-list-search
    thead
        tr
            th articles_id
            th name
            th Price
            
                
    tbody#myTable
            each article in articles
                tr
                    td=article.articles_id
                    td=article.name
                    td=article.price
                  
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
=======
html
head
	meta(charset='utf-8')
	title Users
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

nav.navbar.navbar-expand-lg.navbar-light.bg-light
	a.navbar-brand(href='#') Ma petite épicerie 
 
table#table_format.table.table-bordered.table-striped.table-hover.table-list-search
	thead
		th user_id
		th budget
		th action
	tbody#myTable
		each user in users
			tr
				td=user.user_id
				td=user.budget
				td 
					button.btn.btn-primary(type='button' onclick=`window.location.href='http://localhost:3000/users/${user.user_id}/modify_users'`) modifier
					button.btn.btn-danger(type='button' onclick=`window.location.href='http://localhost:3000/users/${user.user_id}/delete_users'`) Supprimer
>>>>>>> 6a83bef97e9d6735223606b87421ff23e1d43605
