html
head
  meta(charset='utf-8')
  title Modifier 
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Veuillez remplir ce formulaire

        // register form
        form(method='POST' action=`/users/`)
          div.form-group
            label(for='name') user_id:
            input#name.form-control(type='text',  name='user_id' required)
          div.form-group
            label(for=Price) budget:
            input#email.form-control(type='text', placeholder='name ' name='budget' required)
            button.btn.btn-primary(type='submit') Valider
