html
head
  meta(charset='utf-8')
  title Modifier 
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Veuillez remplir ce formulaire 
        // register form
        form(method='POST' action=`/articles`)
          div.form-group
            label(for=Price) articles_id:
            input#email.form-control(type='text', placeholder= 'id ' name='articles_id' required)
          div.form-group
            label(for=Price) name:
            input#email.form-control(type='text', placeholder= 'name ' name='name' required)
          div.form-group
            label(for=Price) Price:
            input#email.form-control(type='text', placeholder='price ' name='price' required)
          button.btn.btn-primary(type='submit') Valider
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script(src='index.js')